
	<div class="container">       
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Apoie essa idéia
                    <small>(Cadastro de filiação)</small>
                </h1>
                 
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            	<p class="padding">
            		Seja um filiado do Partido da Integração Social e Cidadania e participe desse movimento que defende os direitos individuais e coletivos, o meio ambiente e uma vida de oportunidades para todos. Faça a pré-inscrição da filiação que o Cidadania vai até você. APOIE este movimento. 
                </p>
               <form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="nome">Nome:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="nome" placeholder="Nome completo" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="nascimento">Nascimento:</label>
				    <div class="col-sm-3">
				      <input type="nascimento" class="form-control" id="nascimento" placeholder="Nascimento" ng-model='maskModel' mask='39/19/9999' required>
				    </div>

				    <label class="control-label col-sm-1" for="email">Email:</label>
				    <div class="col-sm-6">
				      <input type="email" class="form-control" id="email" placeholder="Email" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="titulo">Título de eleitor:</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" id="titulo" placeholder="Título de eleitor" mask="9999.9999.9999" ng-model="titulo" required>
				    </div>
				    <label class="control-label col-sm-2" for="telefone">Telefone:</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" id="telefone" placeholder="Telefone" mask="(99) 9?9999-9999" ng-model="telefone">
				    </div>
				  </div>
				  <hr>
				 <p class="padding">
            		<i class="fa fa-home"></i> Endereço 
                </p>
				  <div class="form-group">
				  	<label class="control-label col-sm-2" for="cep">CEP:</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="cep" placeholder="CEP" mask="99999-999" ng-model="cep" required>
				    </div>
				    <label class="control-label col-sm-2" for="estado">Estado:</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="uf" placeholder="Estado" required>
				    </div>
				    <label class="control-label col-sm-2" for="cidade">Cidade:</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="cidade" placeholder="Cidade" required>
				    </div>
				  </div>
				  <div class="form-group">
				  	<label class="control-label col-sm-2" for="bairro">Bairro:</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="bairro" placeholder="Bairro" required>
				    </div>
				    <label class="control-label col-sm-2" for="endereco">Endereço:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="rua" placeholder="Endereço" required>
				    </div>				    
				  </div>
					<!-- teste consulta de cep -->
				 <div class="form-group">
				  	<label class="control-label col-sm-2" for="numero">Número:</label>
				    <div class="col-sm-2">
				      <input type="text" class="form-control" id="numero" placeholder="Número" required>
				    </div>	
				    <label class="control-label col-sm-2" for="complemento">Complemento:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="complemento" placeholder="Informações complementares" required>
				    </div>			    
				  </div>
					  
					 
					 
				
					<!-- teste consulta de cep -->
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-success">Enviar</button>
				    </div>
				  </div>
				</form>
            </div>
            <div class="col-md-4">
                <div class="card wrap card-inverse card-info">					 
					  <img class="card-img-bottom" src="assets/imgs/box4.jpg" alt="Card image cap">
				</div>
				<p class="lead"></p>
                <div class="list-group">

                    <div class="list-group-item active">Baixe</div>
                    <a href="assets/downloads/estatuto-cidadania.pdf" 
                       class="list-group-item"
                       target="_blank"
                       >Estatuto (PDF)                        
                       <i class="fa fa-download pull-right"></i>
                    </a>
                  <!--/  <a href="#" class="list-group-item">Regimento Interno (PDF) <i class="fa fa-download pull-right"></i></a>-->
                  <!--/  <a href="#" class="list-group-item">Manifesto (PDF) <i class="fa fa-download pull-right"></i></a>-->
                    <a href="assets/downloads/ficha.pdf" 
                       class="list-group-item"
                       target="_blank"
                       >Ficha de filiação (PDF) 
                       <i class="fa fa-download pull-right"></i>
                    </a>
                </div>
				<p class="padding">
					<b>PARTICIPE!</b><br/>
					Faça o download, imprima, preencha e
					envie pelos Correios sua ficha de apoio 
					assinada para o Partido da Integração
					Social e Cidadania - PISC no endereço: <br/>
					SCS QUADRA 6 - BLOCO A - LOTE 150/170 <br/>
					Nº 240 - 7º ANDAR - SALA 702 - EDF. CARIOCA <br/> 
					ASA SUL  - BRASÍLIA-DF  CEP 70.325-900
				</p>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
			</div>

				<div class="padding"></div>
				<div class="padding"></div>
				<div class="padding"></div>               
				<div class="padding"></div>               
				<div class="padding"></div>               
				<div class="padding"></div>               
                <div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>

       
        </div>  
<script type="text/javascript" >

        $(document).ready(function() {
            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {
                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');
                //Verifica se campo cep possui valor informado.
                if (cep != "") {
                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;
                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {
                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...")
                        $("#bairro").val("...")
                        $("#cidade").val("...")
                        $("#uf").val("...")
                        $("#ibge").val("...")
                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>

