
	<div class="container">

       
       <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Fale conosco
                    <small>(Cadastro para dúvidas e reclamações)</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
            <p class="padding">
					Aqui você participa deste movimento democrático tirando dúvidas, reclamando, sugerindo e se informando de tudo o que acontece no Cidadania. Um espaço de convivência e participação popular, para você falar e ser ouvido.<br/> Então, FALE!
                </p>
               <form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="nome">Nome:</label>
				    <div class="col-sm-10">
				      <input type="nome" class="form-control" id="nome" placeholder="Nome completo" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="email">Email:</label>
				    <div class="col-sm-10">
				      <input type="email" class="form-control" id="email" placeholder="Email" required>
				    </div>
				  </div>
				  <div class="form-group">
				     <label class="control-label col-sm-2" for="nascimento">Nascimento:</label>
				    <div class="col-sm-3">
				      <input type="nascimento" class="form-control" id="nascimento" placeholder="Nascimento" ng-model='maskModel' mask='39/19/9999' required>
				    </div>
				   <label class="control-label col-sm-2" for="telefone">Telefone:</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" id="telefone" placeholder="Telefone" mask="(99) 9?9999-9999" ng-model="telefone">
				    </div>
				  </div>
				 
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="email">Fale:</label>
				    <div class="col-sm-10">
				      <textarea class="form-control" rows="5" id="comment"></textarea>
				    </div>
				  </div>				 			 
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-success">Enviar</button>
				    </div>
				  </div>
				</form>
				
            </div>

            <div class="col-md-4">

                

				<div class="card wrap card-inverse card-info">
					 
					  <img class="card-img-bottom" src="assets/imgs/box2.jpg" alt="Card image cap">

				</div>
				<div class="padding"></div>
				<div class="padding"></div>
				<div class="padding"></div>               
                <div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
				<div class="padding hidden-xs hidden-sm"></div>
			
		
               
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
       
   